<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.css">
        <link href="/css/hamburgers.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <!--<form action="/" method="post" >
            <input type="text" id="name" name="name" placeholder="Write your name">
            <input type="submit" value="Signup" >
        </form>
        <ul>
            
        </ul>
        <a href="/new">new</a>

        <div class="signup">
            <form action="/signup" method="post" class="signupForm" >
                <h2 id="signupHeader">Signup here</h2>
                <p id="signupAlert"><%=  %></p>
                <input type="text" id="signupName" name="signupName" placeholder="Write your name">
                <input type="text" id="signupPassword" name="signupPassword" placeholder="Write your password">
                <input type="submit" value="Signup" id="signupButton">
                <input type="button" value="Already have an account?" id="gotoLogin">
            </form>
        </div>

        <div class="login">
            <form action="/login" method="post" class="loginForm">
                <h2 id="loginHeader">Login here</h2>
                <p id="loginAlert"><%=  %></p>
                <input type="text" id="loginName" name="loginName" placeholder="Write your name">
                <input type="text" id="loginPassword" name="loginPassword" placeholder="Write your password">
                <input type="submit" value="Login" id="loginButton">
                <input type="button" value="don't have an account?" id="gotoSignup">
            </form>
        </div>-->

        <div class="heroBack">
        </div>
        <div class="navbar">
            <div class="navheader">
                <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="navmenu">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Service</a>
                <a href="/">Contacts</a>
                <button class="heroSectionDescBut">Get Started</button>
            </div>
        </div>
        <div class="heroSection">
            <div class="heroSectionDesc">
                <h1>We're building</h1>
                <h1>things beyond</h1>
                <h1>awesome.</h1>
                <p>can't wait to launch it soon. Mean while if you would like early access, let us know</p>
                <button>Early Access</button>
            </div>
        </div>
        <div class="about">
            <h1>Our Brilliant Team</h1>
            <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
            <div class="aboutImageSec">
                <div class="aboutLeadImg">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                </div>
                <div class="aboutSubImgs">
                    <div class="aboutSubImg">
                        
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                    <div class="aboutSubImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDectpMWY1D9IOvHhaenwiESuNCRv86A0uUaIkFMhQnQEHUpIQ9YOaTr33Brz1lD7h4&usqp=CAU">
                        <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg" class="aboutSubImg2">
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <h1>The Extraordinary</h1>
            <p id="serviceHeadP">They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
            <div class="servicebar">
                <div class="services">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                    <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
                </div>
                <div class="services">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                    <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
                </div>
                <div class="services">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                    <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
                </div>
                <div class="services">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                    <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
                </div>
                <div class="services">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                    <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
                </div>
                <div class="services">
                    <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                    <p>They are big, bold and beautiful. Billboards have been around for quite a while. In almost places nowadays</p>
                </div>

            </div>
        </div>
    </body>
    <script>
        /*document.querySelector(".loginForm").addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((response) => {
                alert(response.data.message);
            });
        });*/

        var navButCount=0;
        document.querySelector(".hamburger").addEventListener("click",()=>{
            navButCount=(navButCount+1)%2;
            if(!navButCount&1)document.querySelector(".hamburger").classList.remove("is-active");
            else document.querySelector(".hamburger").classList.add("is-active");
        });

        
        var heroSectionDescBut=document.querySelector(".heroSectionDescBut")
        window.addEventListener("load",()=>{
            var logStatus=localStorage.getItem("logStatus");
            if(logStatus == "0"){
                heroSectionDescBut.innerHTML="Get Started";
            }
            else{
                heroSectionDescBut.innerHTML="Log out";
            }
        });

        heroSectionDescBut.addEventListener("click",()=>{
            var logStatus=localStorage.getItem("logStatus");
            if(logStatus == "0"){
                window.location.href = "/login";
            }
            else{
                localStorage.setItem("logStatus", "0");
                window.location.href = "/";

            }
        });
        

    </script>
</html>