<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="/css/login.css">
        <title>Login</title>
    </head>
    <body>
        <div class="login">
            <form action="/login" method="post" class="loginForm">
                <h2 id="loginHeader">Login here</h2>
                <p id="loginAlert"><%= mess %></p>
                <input type="text" id="loginName" name="loginName" placeholder="Write your name" required><br/>
                <input type="text" id="loginPassword" name="loginPassword" placeholder="Write your password" required><br/>
                <input type="submit" value="Login" id="loginButton"><br/>
                <!--<input type="button" value="don't have an account?" id="gotoSignup">-->
                <a href="/signup" id="gotoSignup">don't have an account?</a>
                <a href="/" id="loginSuccessfull"></a>
            </form>
        </div>
    </body>
    <script>
        var loginButton=document.querySelector("#loginButton");
        loginButton.addEventListener("load",()=>{
            var loginAlert=document.querySelector("#loginAlert");
            alert(loginAlert.innerHTML);
        });

        document.querySelector("#loginButton").addEventListener("click",()=>{
            var loginName=document.querySelector("#loginName").value;
            localStorage.setItem("username", loginName);
            /*var username=localStorage.getItem("username");
            alert(username);*/
        });
    </script>
</html>