<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="/css/mirai.css">
        <link href="/css/hamburgers.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navheader">
                <img src="https://i.ibb.co/JrtcP3W/Mirai-Logo.png">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="navmenu">
                <a href="/">Home</a>
                <a href="/stats">Stats</a>
                <button class="heroSectionDescBut">Get Started</button>
            </div>
        </div>

        <div class="mirai">
            <form action="/mirai" method="post" class="miraiForm">
                <h2 id="miraiHeader">Add Today's Expenses</h2>
                <p id="miraiAlert"><%= mess %></p>
                <input type="text" id="miraiCredit" name="miraiCredit" placeholder="Write todays credit"><br/>
                <input type="text" id="miraiDebit" name="miraiDebit" placeholder="Write todays debit"><br/>
                <input type="submit" value="Submit" id="miraiButton"><br/>
                <input type="text" id="miraiName" name="miraiName"><br/>
                <input type="text" id="miraiDate" name="miraiDate"><br/>
                <!--<input type="button" value="don't have an account?" id="gotoSignup">-->
            </form>
        </div>
        
        <script>
            window.addEventListener("load",()=>{
                localStorage.setItem("logStatus", "1");
                var username=localStorage.getItem("username");
                var miraiName=document.querySelector("#miraiName");
                miraiName.value=username;  
                var date = new Date();
                var miraiDate=document.querySelector("#miraiDate");
                let day = date.getDate();
                let month = date.getMonth() + 1;
                let year = date.getFullYear();

                // This arrangement can be altered based on how we want the date's format to appear.
                let currentDate = `${day}-${month}-${year}`;
                miraiDate.value=currentDate;
            });

            var navButCount=0;
            document.querySelector(".hamburger").addEventListener("click",()=>{
                navButCount=(navButCount+1)%2;
                if(!navButCount&1)document.querySelector(".hamburger").classList.remove("is-active");
                else document.querySelector(".hamburger").classList.add("is-active");
            });

            
            var heroSectionDescBut=document.querySelector(".heroSectionDescBut")
            window.addEventListener("load",()=>{
                var logStatus=localStorage.getItem("logStatus");
                if(logStatus == "0"){
                    heroSectionDescBut.innerHTML="Get Started";
                }
                else{
                    heroSectionDescBut.innerHTML="Log out";
                }
            });

            heroSectionDescBut.addEventListener("click",()=>{
                var logStatus=localStorage.getItem("logStatus");
                if(logStatus == "0"){
                    window.location.href = "/login";
                }
                else{
                    localStorage.setItem("logStatus", "0");
                    window.location.href = "/";

                }
            });
        </script>
    </body>
</html>