<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <div class="signup">
            <form action="/signup" method="post" class="signupForm" >
                <h2 id="signupHeader">Signup here</h2>
                <p id="signupAlert"><%= messageAlert %></p>
                <input type="text" id="signupName" name="signupName" placeholder="Write your name">
                <input type="text" id="signupPassword" name="signupPassword" placeholder="Write your password">
                <input type="submit" value="Signup" id="signupButton">
                <input type="button" value="Already have an account?" id="gotoLogin">
            </form>
        </div>
    </body>
    <script>
    </script>
</html>