<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="/css/stats.css">
        <link href="/css/hamburgers.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navheader">
                <img src="https://i.pinimg.com/564x/78/f7/43/78f743f24bc108b2e7d13725ba990cd8.jpg">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="navmenu">
                <a href="/">Home</a>
                <a href="/mirai">Expense</a>
                <button class="heroSectionDescBut">Get Started</button>
            </div>
        </div>

        <div class="stats">
            <h1 class="userName"></h1>
            <p>Welcome back</p>
            <button id="showStatsBut">Show Statistics</button>
            <div class="todStats">
                <div class="todStat">
                    <p>Date</p>
                    <h1><%= statara[0] %></h1>
                </div>
                <div class="todStat">
                    <p>Credit</p>
                    <h1><%= statara[1] %></h1>
                </div>
                <div class="todStat">
                    <p>Debit</p>
                    <h1><%= statara[2] %></h1>
                </div>
            </div>
        </div>

        <form action="/stats" method="post" class="statsForm">
            <input type="text" id="statsName" name="statsName"><br/>
            <input type="text" id="statsDate" name="statsDate"><br/>
            <input type="submit" value="Submit" id="statsButton"><br/>
        </form>
        <script>

            window.addEventListener("load",()=>{
                localStorage.setItem("logStatus", "1");
                var username=localStorage.getItem("username");

                var statsName=document.querySelector("#statsName");
                statsName.value=username; 

                var date = new Date();
                var statsDate=document.querySelector("#statsDate");
                let day = date.getDate();
                let month = date.getMonth() + 1;
                let year = date.getFullYear();

                // This arrangement can be altered based on how we want the date's format to appear.
                let currentDate = `${day}-${month}-${year}`;
                statsDate.value=currentDate;

                var thisUserName=document.querySelector(".userName");
                thisUserName.innerHTML="Hello "+ username;
            });

            var navButCount=0;
            document.querySelector(".hamburger").addEventListener("click",()=>{
                navButCount=(navButCount+1)%2;
                if(!navButCount&1)document.querySelector(".hamburger").classList.remove("is-active");
                else document.querySelector(".hamburger").classList.add("is-active");
            });

            
            var heroSectionDescBut=document.querySelector(".heroSectionDescBut")
            window.addEventListener("load",()=>{
                var logStatus=localStorage.getItem("logStatus");
                if(logStatus == "0"){
                    heroSectionDescBut.innerHTML="Get Started";
                }
                else{
                    heroSectionDescBut.innerHTML="Log out";
                }
            });

            heroSectionDescBut.addEventListener("click",()=>{
                var logStatus=localStorage.getItem("logStatus");
                if(logStatus == "0"){
                    window.location.href = "/login";
                }
                else{
                    localStorage.setItem("logStatus", "0");
                    window.location.href = "/";

                }
            });

            var showStatsBut=document.querySelector("#showStatsBut");
            showStatsBut.addEventListener("click",()=>{
                var statsButton=document.querySelector("#statsButton");
                statsButton.click();
            });

            
        </script>
    </body>
</html>