*{
    margin:0;
    padding:0;
}
body{
    background:url("https://elements-cover-images-0.imgix.net/e1d552c1-f6b5-4920-9028-cc039a25775d?auto=compress%2Cformat&fit=max&w=900&s=405a94e2a79a9fd300f0714b99580330");
    background-size: 100vw 100vh;
}
@media screen and (min-width: 992px) {
    .signup{
        background-color: white;
        height:50vh;
        width:32vw;
        position:relative;
        top:23vh;
        left:60vw;
        text-align: center;
    }
    #signupHeader{
        padding-top:4vh;
        font-size:2rem;
        margin-bottom:5vh;
        transition: linear 0.2s;
    }
}
@media screen and (max-width: 991px) {
    .signup{
        background-color: white;
        height:60vh;
        width:78vw;
        position:relative;
        top:18vh;
        left:10vw;
        text-align: center;
    }
    #signupHeader{
        padding-top:8vh;
        font-size:2rem;
        margin-bottom:5vh;
        transition: linear 0.2s;
    }
}

#signupAlert{
    margin-bottom: 3vh;
    color:red;
    font-size: 1.1rem;
}
@media screen and (min-width: 992px) {
    #signupName{
        border:none;
        outline: none;
        height:6vh;
        width:23vw;
        padding-left:2vw;
        border-radius: 20px;
        font-size: 1rem;
        background-color: rgb(215, 232, 247);
        margin-bottom:3vh;
    }
    #signupPassword{
        border:none;
        outline: none;
        height:6vh;
        width:23vw;
        padding-left:2vw;
        border-radius: 20px;
        font-size: 1rem;
        background-color: rgb(215, 232, 247);
        margin-bottom:5vh;
    }
    #signupButton{
        background-color: rgb(98,35,230);
        border:none;
        height:5vh;
        width:12vw;
        color:white;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 20px;
        margin-bottom:5vh;
        cursor: pointer;
    }
}
@media screen and (max-width: 991px) {
    #signupName{
        border:none;
        outline: none;
        height:6vh;
        width:62vw;
        padding-left:5vw;
        border-radius: 20px;
        font-size: 1rem;
        background-color: rgb(215, 232, 247);
        margin-bottom:3vh;
    }
    #signupPassword{
        border:none;
        outline: none;
        height:6vh;
        width:62vw;
        padding-left:5vw;
        border-radius: 20px;
        font-size: 1rem;
        background-color: rgb(215, 232, 247);
        margin-bottom:5vh;
    }
    #signupButton{
        background-color: rgb(98,35,230);
        border:none;
        height:5vh;
        width:35vw;
        color:white;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 20px;
        margin-bottom:5vh;
        cursor: pointer;
    }
}
#gotoLogin{
    background-color: transparent;
    border:none;
    font-size: 1.1rem;
    color:rgb(77, 77, 233);
    cursor: pointer;
}