*{
    margin:0;
    padding:0;
    font-family: Arial Medium, Helvetica, sans-serif;
}
body{
    /*background: url("https://img.freepik.com/premium-vector/isometric-web-banner-data-analysis-statistics-concept-vector-illustration-business-analytics-data-visualization-technology-internet-network-concept-data-investments_589019-2951.jpg?w=1380");
    background-size: 100vw 100vh;
    height:100vh;
    width:98.9vw;*/
    background-color: rgb(9,20,64);
    overflow: hidden;
}

.navbar{
    display:flex;
    background-color: rgba(255,255,255,0.2);
    height:10vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}
.navheader{
    height:100%;
    width:45%;
}
.navheader button{
    visibility: hidden;
}
.navheader img{
    height:90%;
    width:15vw;
    margin-left:5vw;
}
.navmenu{
    width:55%;
    margin-top: 2.5vh;
    margin-left:44vw;
}
.navmenu a{
    text-decoration: none;
    color:white;
    font-size:1.1rem;
    margin-right:2.5vw;
    transition: 0.1s linear;
}
.navmenu a:hover{
    color: rgb(159,69,111);
}
.navmenu button{
    background-color:rgb(159,69,111);
    border:none;
    color:white;
    font-size:1.1rem;
    height:5vh;
    width:8vw;
    cursor: pointer;
    border-radius: 5px;
}

/*-------------stats--------------------*/

.stats{
    padding-top: 15vh;
    width:70%;
    margin:auto;
    color:white;
    
}
.statsHeaddesc{
    text-align: center;
    margin-top:5vh;
}

#headerName{
    margin-bottom: 1vh;
    font-size: 3rem;
    
}
#showStatsBut{
    background-color: rgb(159,69,111);
    margin-top: 2vh;
    margin-bottom: 5vh;
    border: none;
    color:white;
    height:6vh;
    width:10vw;
    font-size: 1rem;
    transition: 0.1s linear;
}
#showStatsBut:hover{
    transform: scale(1.1);
}
.statsHeaddesc svg{
    height:27vh;
    width:17vw;
}
.totStats{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    margin-top:-40vh;
}
.totStat{
    background-color: rgba(0,0,0,0.3);
    color:white;
    height:40vh;
    width:15vw;
    border-radius: 10px;
    padding-top: 4%;
    text-align: center;
}
.totStatSvg{
    height:40%;
    width:55%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    margin:auto;
    margin-bottom: 3vh;
}
.totStat svg{
    height:80%;
    width:80%;
    margin-top:7%;
}
.totper{
    margin-bottom: 2vh;
}


.todStats{
    display: flex;
    justify-content: space-between;
    
}
.todStat{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    color:white;
    height:13vh;
    width:21vw;
    border-radius: 10px;
}
.todStatDesc{
    width:60%;
    margin-top:8%;
    transform: translateX(15%);
}
.todStatSvg{
    width:25%;
    height:70%;
    background-color: rgba(255,255,255,0.2);
   
    border-radius: 50%;
    margin:auto;
}
.todStatSvg svg{
    margin-top:21%;
    margin-left: 24%;  
    height:50%;
    width:50%;
}

.statsForm{
    visibility: hidden;
}